body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(0, 52, 255, 0.5);
}

main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    height: 30rem;
    margin-top: 3em;
    margin-right: 5em;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(1rem);
    border-radius: 2rem;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 22px 0 rgba(31,38,135,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leaderboard {
    width: 20rem;
    overflow-y: hidden;
}

#leaderboard ol {
    padding: 0;
    height: 90%;
    width: 80%;
    overflow-x: scroll;
}

#leaderboard ol li {
    margin: 1em 0;
}

#game {
    width: 40rem;
}

h2 {
    margin: 0;
    padding-top: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
}

img {
    margin: 2.5em 0;
    border-radius: 0;
}

#blurAlbum {
    display: none;
}

#blurAlbum:checked + img {
    filter: blur(5px);
}

#game form {
    margin: 0 0 1rem 0;
    padding: 0;
    width: 36rem;
    height: 2rem;
    display: flex;
}

#game form input {
    margin: 0;
    padding: 0 1rem;
    border: none;
    height: 2rem;
    flex-grow: 2;
    border-radius: 2rem;
    opacity: 80%;
    outline: none;
}

#game form > button {
    background: rgba(92, 0, 255, 0.5);
    border: 1px solid white;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 0 .6rem 0 .4rem;
    margin-left: .2rem;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
